body {
  background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/seamless-watercolor-floral-pattern-katerina-kirilova.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-size: 1.5em;
  color: #2D373D;
}

h1, h3 {
  font-family: 'Mr Bedfort', cursive;
}

.jumbotron h1 {
  font-size: 80px;
}

h2, h5, h6 {
  font-family: 'Abril Fatface', cursive;
}

h3 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 20px;
}

h6 {
  font-size: 1.5em;
}


img {
  width: 100%;
  margin: auto;
  border-radius: 5%;
}

ul {
    padding-inline-start: unset;
    list-style-type: circle;
    list-style-position: inside;
}

#about img {
  border-radius: 50%;
  border: 4px grey dotted;
}

div#home.jumbotron, #projects, #about, #contact {
    background-color: rgba(242, 169, 159, 0.9);
    /* border-top-left-radius: 15%;
    border-bottom-right-radius: 15%; */
    border-top: 5px grey double;
    border-radius: 8%;
}

#projects, #about, #contact {
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
}
